In [1]:
import pandas as pd
pd.set_option('display.max_columns', 100)
import numpy as np
from IPython.display import display, HTML


%matplotlib inline
import random
import matplotlib.pyplot as plt
import seaborn as sns

import geopandas as gpd
import shapely as sp
import shapely.geometry as sgeom
import cartopy.io.shapereader as shpreader

import os

## Contents

* [Approach](#section_approach)
* [Import Deprivation Index Data: LSOA Level](#section_depriv_lsoa)
* [Import Geo-Data: LSOA Level](## Import-Geo-Data:-LSOA-Level)

<a id="section_approach"></a>

---

## Approach


#### Geo-data

There are 3 levels of administrative geo-data in England

* Local Authority Districts (LAD)
    * [geodata source](http://geoportal.statistics.gov.uk/datasets/local-authority-districts-december-2011-gb-bgc) - 2011 boundaries (because this is what the deprivation data is officially matched with), resolution: generalised, not WGS84
* Wards
    * [geodata source](http://geoportal.statistics.gov.uk/datasets/wards-december-2017-generalised-clipped-boundaries-in-great-britain) - 2017 boundaries, resolution: generalised, not WGS84
* Lower Super Output Areas (LSOA) 
    * [geodata source](http://geoportal.statistics.gov.uk/datasets/da831f80764346889837c72508f046fa_2) - 2011 boundaries (this is the latest year for LSOAs), resolution: generalised, not WGS84
    
    
Note for some confusing terms in the geo-datasets' names:

* BFC Boundary - Full resolution, Clipped to the coastline
* BFE Boundary - Full resolution, Extent of the realm
* BGC Boundary - Generalised (20m), Clipped to the coastline
* BGE Boundary - Generalised (20m), Extent of the realm
* BSC Boundary - Super Generalised (200m), Clipped to the coastline
* BSE Boundary - Super Generalised (200m), Extent of the realm

#### Deprivation data

Deprivation index data is at the LSOA level, but is already officially aggregated at the LAD level. So we need to produce our own aggregation at the Ward level. This is made more complicated because wards and LSOAs don't usually map neatly into one another, as described in [this github issue](https://github.com/yanoak/360giving-deprivation/issues/8). A workaround is to have an [official lookup table](http://geoportal.statistics.gov.uk/datasets/lower-layer-super-output-area-2011-to-ward-2017-lookup-in-england-and-wales) that matches LSOAs (2011) to Wards (2017) using a [best fitting method](http://geoportal.statistics.gov.uk/datasets?q=Building%202011%20Census%20estimates) that relies on population weighted centroids of Output Areas.

Datasets:

* [LSOAs 2011 to Wards 2017 lookup table](http://geoportal.statistics.gov.uk/datasets/lower-layer-super-output-area-2011-to-ward-2017-lookup-in-england-and-wales)
* [English Indices of Deprivation 2019 - LSOA Level (csv)](http://opendatacommunities.org/data/societal-wellbeing/imd2019/indices)
* [English Indices of Deprivation 2019 - Summaries at Local Authority Level (csv)](http://opendatacommunities.org/data/societal-wellbeing/imd2019/indicesbyla)
* [Other associated info/files for English Indices of Deprivation with xlsx files of LAD and LSOA level deprivation](https://www.gov.uk/government/statistics/english-indices-of-deprivation-2019)
* [Research report](https://www.gov.uk/government/publications/english-indices-of-deprivation-2019-research-report) Section 3.3 contains guidance on how to interpret higher level geography summaries

&nbsp;

<a id="section_depriv_lsoa"></a>

---


## Import Deprivation Index Data: LSOA Level

Source: [Homepage](https://www.gov.uk/government/statistics/english-indices-of-deprivation-2019)

[File 2: Domains of Deprivation](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/833973/File_2_-_IoD2019_Domains_of_Deprivation.xlsx)

In [2]:
dp_lsoa_df = pd.read_excel('../data/deprivation/File_2_-_IoD2019_Domains_of_Deprivation.xlsx', sheet_name='IoD2019 Domains', index_col=[0])

In [3]:
dp_lsoa_df.columns

Index(['LSOA name (2011)', 'Local Authority District code (2019)',
       'Local Authority District name (2019)',
       'Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived)',
       'Index of Multiple Deprivation (IMD) Decile (where 1 is most deprived 10% of LSOAs)',
       'Income Rank (where 1 is most deprived)',
       'Income Decile (where 1 is most deprived 10% of LSOAs)',
       'Employment Rank (where 1 is most deprived)',
       'Employment Decile (where 1 is most deprived 10% of LSOAs)',
       'Education, Skills and Training Rank (where 1 is most deprived)',
       'Education, Skills and Training Decile (where 1 is most deprived 10% of LSOAs)',
       'Health Deprivation and Disability Rank (where 1 is most deprived)',
       'Health Deprivation and Disability Decile (where 1 is most deprived 10% of LSOAs)',
       'Crime Rank (where 1 is most deprived)',
       'Crime Decile (where 1 is most deprived 10% of LSOAs)',
       'Barriers to Housing and Services Rank (where 1 is most deprived)',
       'Barriers to Housing and Services Decile (where 1 is most deprived 10% of LSOAs)',
       'Living Environment Rank (where 1 is most deprived)',
       'Living Environment Decile (where 1 is most deprived 10% of LSOAs)'],
      dtype='object')

In [4]:
dp_lsoa_df.rename(index=str, columns={'LSOA name (2011)' : 'LSOA2011_NM', \
        'Local Authority District code (2019)' : 'LAD2019_CD', \
        'Local Authority District name (2019)' : 'LAD2019_NM', \
        'Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived)' : 'imd_rank', \
        'Index of Multiple Deprivation (IMD) Decile (where 1 is most deprived 10% of LSOAs)' : 'imd_dec', \
        'Income Rank (where 1 is most deprived)' : 'income_rank', \
        'Income Decile (where 1 is most deprived 10% of LSOAs)' : 'incom_dec', \
        'Employment Rank (where 1 is most deprived)' : 'employment_rank', \
        'Employment Decile (where 1 is most deprived 10% of LSOAs)' : 'employment_dec', \
        'Education, Skills and Training Rank (where 1 is most deprived)' : 'education_rank', \
        'Education, Skills and Training Decile (where 1 is most deprived 10% of LSOAs)' : 'education_dec', \
        'Health Deprivation and Disability Rank (where 1 is most deprived)' : 'health_rank', \
        'Health Deprivation and Disability Decile (where 1 is most deprived 10% of LSOAs)' : 'health_dec', \
        'Crime Rank (where 1 is most deprived)' : 'crime_rank', \
        'Crime Decile (where 1 is most deprived 10% of LSOAs)' : 'crime_dec', \
        'Barriers to Housing and Services Rank (where 1 is most deprived)' : 'housing_rank', \
        'Barriers to Housing and Services Decile (where 1 is most deprived 10% of LSOAs)' : 'housing_dec', \
        'Living Environment Rank (where 1 is most deprived)' : 'environment_rank', \
        'Living Environment Decile (where 1 is most deprived 10% of LSOAs)' : 'environment_dec' \
        }, inplace=True)

In [6]:
dp_lsoa_df.index.names = ['LSOA2011_CD']

In [7]:
dp_lsoa_df.head()

,LSOA2011_NM,LAD2019_CD,LAD2019_NM,imd_rank,imd_dec,income_rank,incom_dec,employment_rank,employment_dec,education_rank,education_dec,health_rank,health_dec,crime_rank,crime_dec,housing_rank,housing_dec,environment_rank,environment_dec
LSOA2011_CD,,,,,,,,,,,,,,,,,,,
E01000001,City of London 001A,E09000001,City of London,29199,9,32831,10,32742,10,32842,10,32113,10,32662,10,7319,3,7789,3
E01000002,City of London 001B,E09000001,City of London,30379,10,29901,10,31190,10,32832,10,29705,10,32789,10,11707,4,13070,4
E01000003,City of London 001C,E09000001,City of London,14915,5,18510,6,15103,5,26386,9,17600,6,29363,9,2157,1,4092,2
E01000005,City of London 001E,E09000001,City of London,8678,3,6029,2,7833,3,12370,4,17907,6,31059,10,2217,1,9397,3
E01000006,Barking and Dagenham 016A,E09000002,Barking and Dagenham,14486,5,14023,5,21692,7,17511,6,21581,7,18848,6,1033,1,10629,4

<a id="section_depriv_lad"></a>

---

## Import Deprivation Index Data: LAD Level

Source: [Homepage](https://www.gov.uk/government/statistics/english-indices-of-deprivation-2019)

[File 10: Local Authority District Summaries](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/833995/File_10_-_IoD2019_Local_Authority_District_Summaries__lower-tier__.xlsx)

The aggregation produces a lot of different measures such as ranks and ranks of ranks. We are only interested in the average score, which is weighted by the population of the LSOAs that make up the LAD

In [25]:
lad_vars = [
    {'sheet': 'IMD', 'col': 'IMD - Average score'},
    {'sheet': 'Income', 'col': 'Income - Average score'},
    {'sheet': 'Employment', 'col': 'Employment - Average score'},
    {'sheet': 'Education', 'col': 'Education, Skills and Training - Average score'},
    {'sheet': 'Health', 'col': 'Health Deprivation and Disability - Average score'},
    {'sheet': 'Crime', 'col': 'Crime - Average score'},
    {'sheet': 'Barriers', 'col': 'Barriers to Housing and Services - Average score'},
    {'sheet': 'Living', 'col': 'Living Environment - Average score'}
]

In [28]:
lad_df = pd.DataFrame()

for i, v in enumerate(lad_vars):
    #print(v['sheet'],i)
    df = pd.read_excel(
        '../data/deprivation/File_10_-_IoD2019_Local_Authority_District_Summaries__lower-tier__.xlsx',
        sheet_name=v['sheet']
    )
    df.rename(columns=lambda x: x.strip(" "), inplace=True)
    df.rename(
        index=str,
        columns={
            'Local Authority District code (2019)' : 'LAD2019_CD',
            'Local Authority District name (2019)' : 'LAD2019_NM',
            v['col'] : v['sheet']+'_avg_score',
        }, inplace=True)
    if i == 0:
        lad_df = lad_df.append(df[['LAD2019_CD','LAD2019_NM',v['sheet']+'_avg_score']])
    else:
        lad_df = pd.merge(lad_df, df[['LAD2019_CD',v['sheet']+'_avg_score']], on='LAD2019_CD',sort=True)
    
#dp_lad_df = pd.read_excel('../data/deprivation/File_10_ID2015_Local_Authority_District_Summaries.xlsx', sheet_name='ID2015 Domains', index_col=[0])

display(lad_df.head())

,LAD2019_CD,LAD2019_NM,IMD_avg_score,Income_avg_score,Employment_avg_score,Education_avg_score,Health_avg_score,Crime_avg_score,Barriers_avg_score,Living_avg_score
0,E06000001,Hartlepool,35.037,0.228,0.185,30.255,0.869,0.566,14.242,6.943
1,E06000002,Middlesbrough,40.460,0.251,0.191,38.850,1.194,0.701,14.183,12.929
2,E06000003,Redcar and Cleveland,29.792,0.186,0.165,27.768,0.790,0.138,14.139,7.793
3,E06000004,Stockton-on-Tees,25.790,0.164,0.135,24.786,0.684,-0.111,15.870,6.007
4,E06000005,Darlington,25.657,0.153,0.128,27.402,0.532,0.558,11.942,8.800

In [29]:
deprivation_colums = {'IMD_avg_score':'comparison_IMD_avg_score', \
                        'Income_avg_score':'comparison_Income_avg_score', \
                        'Employment_avg_score':'comparison_Employment_avg_score', \
                        'Education_avg_score':'comparison_Education_avg_score', \
                        'Health_avg_score':'comparison_Health_avg_score', \
                        'Crime_avg_score':'comparison_Crime_avg_score', \
                        'Barriers_avg_score':'comparison_Barriers_avg_score', \
                        'Living_avg_score':'comparison_Living_avg_score' }

lad_df.rename(index=str, columns=deprivation_colums, inplace=True)

display(lad_df.head())

,LAD2019_CD,LAD2019_NM,comparison_IMD_avg_score,comparison_Income_avg_score,comparison_Employment_avg_score,comparison_Education_avg_score,comparison_Health_avg_score,comparison_Crime_avg_score,comparison_Barriers_avg_score,comparison_Living_avg_score
0,E06000001,Hartlepool,35.037,0.228,0.185,30.255,0.869,0.566,14.242,6.943
1,E06000002,Middlesbrough,40.460,0.251,0.191,38.850,1.194,0.701,14.183,12.929
2,E06000003,Redcar and Cleveland,29.792,0.186,0.165,27.768,0.790,0.138,14.139,7.793
3,E06000004,Stockton-on-Tees,25.790,0.164,0.135,24.786,0.684,-0.111,15.870,6.007
4,E06000005,Darlington,25.657,0.153,0.128,27.402,0.532,0.558,11.942,8.800

In [36]:
lad_df.to_csv('../data/comparison/comparison_eng_LAD_deprivation_2019.csv.gz', compression='gzip')
lad_df.to_csv('../data/comparison/comparison_eng_LAD_deprivation_2019.csv')

## Import Postcode related files for creating lookups
* Source - [PostCode to ward and LAD lookup](https://ons.maps.arcgis.com/home/item.html?id=c4aeb11ff5b045018b7340e807d645cb)
* Source - [PostCode to Output Areas lookup](http://geoportal1-ons.opendata.arcgis.com/datasets/80628f9289574ba4b39a76ca7830b7e9_0)
* Source - [Output Area to Ward to Local Authority District (December 2017) Lookup in England and Wales](https://geoportal.statistics.gov.uk/datasets/988e581ac9d942dfa6d642c4e98b048c_0)

In [32]:
postcode_df = pd.read_csv('../data/geo/pcd11_par11_wd11_lad11_ew_lu.csv',encoding='iso-8859-1')

postcode_to_oa_df = pd.read_csv('../data/geo/Postcode_to_Output_Area_to_Lower_Layer_Super_Output_Area_to_Middle_Layer_Super_Output_Area_to_Local_Authority_District_February_2018_Lookup_in_the_UK.csv',encoding='iso-8859-1')

oa_to_ward_2017 = pd.read_csv('../data/geo/Output_Area_to_Ward_to_Local_Authority_District_December_2017_Lookup_in_England_and_Wales.csv',encoding='iso-8859-1')

c:\users\drkan\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
c:\users\drkan\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [33]:
postcode_df.head()

,pcd7,pcd8,pcds,par11cd,par11nm,par11nmw,wd11cd,wd11nm,wd11nmw,lad11cd,lad11nm,lad11nmw
0,AL1 1AG,AL1 1AG,AL1 1AG,NaN,NaN,NaN,E05004802,Sopwell,NaN,E07000100,St Albans,NaN
1,AL1 1AJ,AL1 1AJ,AL1 1AJ,NaN,NaN,NaN,E05004802,Sopwell,NaN,E07000100,St Albans,NaN
2,AL1 1AR,AL1 1AR,AL1 1AR,NaN,NaN,NaN,E05004789,Cunningham,NaN,E07000100,St Albans,NaN
3,AL1 1AS,AL1 1AS,AL1 1AS,NaN,NaN,NaN,E05004799,St Peters,NaN,E07000100,St Albans,NaN
4,AL1 1BH,AL1 1BH,AL1 1BH,NaN,NaN,NaN,E05004802,Sopwell,NaN,E07000100,St Albans,NaN

In [34]:
postcode_to_oa_df.head()

,pcd7,pcd8,pcds,dointr,doterm,usertype,oa11,lsoa11cd,msoa11cd,ladcd,lsoa11nm,msoa11nm,ladnm,ladnmw,FID
0,AB1 1EZ,AB1 1EZ,AB1 1EZ,198001,199606,0,S00090528,S01006645,S02001261,S12000033,George Street - 01,George Street,Aberdeen City,NaN,1
1,AB1 0AA,AB1 0AA,AB1 0AA,198001,199606,0,S00090303,S01006514,S02001237,S12000033,"Cults, Bieldside and Milltimber West - 02","Cults, Bieldside and Milltimber West",Aberdeen City,NaN,2
2,AB1 0RE,AB1 0RE,AB1 0RE,198001,199606,0,S00090294,S01006507,S02001236,S12000033,Culter - 02,Culter,Aberdeen City,NaN,3
3,AB1 1FA,AB1 1FA,AB1 1FA,198001,199606,0,S00090532,S01006645,S02001261,S12000033,George Street - 01,George Street,Aberdeen City,NaN,4
4,AB1 0RF,AB1 0RF,AB1 0RF,199210,199606,0,S00090296,S01006507,S02001236,S12000033,Culter - 02,Culter,Aberdeen City,NaN,5

In [35]:
oa_to_ward_2017.head()

      OA11CD     WD17CD  WD17NM WD17NMW    LAD17CD     LAD17NM    FID
0  E00069981  E05001828  Bridge     NaN  E06000018  Nottingham  10001
1  E00069980  E05001828  Bridge     NaN  E06000018  Nottingham  10002
2  E00069988  E05001828  Bridge     NaN  E06000018  Nottingham  10003
3  E00173541  E05001828  Bridge     NaN  E06000018  Nottingham  10004
4  E00173506  E05001828  Bridge     NaN  E06000018  Nottingham  10005

In [17]:
postcode_to_ward2017_df_merged = pd.merge(postcode_to_oa_df, oa_to_ward_2017, left_on='oa11', right_on='OA11CD',sort=True)

In [18]:
postcode_to_ward2017_df_merged = postcode_to_ward2017_df_merged[['pcd7','pcd8','WD17CD','WD17NM','ladcd','ladnm']]
postcode_to_ward2017_df_merged.head()

      pcd7      pcd8     WD17CD      WD17NM      ladcd           ladnm
0  EC2Y8NJ  EC2Y 8NJ  E05009288  Aldersgate  E09000001  City of London
1  EC2Y8DR  EC2Y 8DR  E05009288  Aldersgate  E09000001  City of London
2  EC2Y8PE  EC2Y 8PE  E05009288  Aldersgate  E09000001  City of London
3  EC2Y8BY  EC2Y 8BY  E05009288  Aldersgate  E09000001  City of London
4  EC2Y8DP  EC2Y 8DP  E05009288  Aldersgate  E09000001  City of London

In [19]:
postcode_df = postcode_df[['pcd7','pcd8','wd11cd','wd11nm','lad11cd','lad11nm']]
postcode_df.head()

      pcd7      pcd8     wd11cd      wd11nm    lad11cd    lad11nm
0  AL1 1AG  AL1  1AG  E05004802     Sopwell  E07000100  St Albans
1  AL1 1AJ  AL1  1AJ  E05004802     Sopwell  E07000100  St Albans
2  AL1 1AR  AL1  1AR  E05004789  Cunningham  E07000100  St Albans
3  AL1 1AS  AL1  1AS  E05004799   St Peters  E07000100  St Albans
4  AL1 1BH  AL1  1BH  E05004802     Sopwell  E07000100  St Albans

In [20]:
postcode_df.describe()

           pcd7      pcd8     wd11cd   wd11nm    lad11cd   lad11nm
count   1308780   1308780    1308780  1308780    1308780   1308780
unique  1308780   1308780       8573     7815        348       348
top     DN3 2LB  PL21 0JR  E05000649   Castle  E06000052  Cornwall
freq          1         1       1405     4436      18543     18543

In [21]:
postcode_to_ward17_to_lad11_lookup = pd.merge(postcode_to_ward2017_df_merged, postcode_df, \
                                              left_on='pcd8', right_on='pcd8',sort=True)

In [22]:
aggregagations = {'pcd8': 'count'}

ward17_to_lad11_lookup =  pd.pivot_table(postcode_to_ward17_to_lad11_lookup, index=['WD17CD','lad11cd'],\
                                         aggfunc = aggregagations)
ward17_to_lad11_lookup.reset_index(inplace=True)

In [23]:
ward17_to_lad11_lookup.head()

      WD17CD    lad11cd  pcd8
0  E05000026  E09000002   158
1  E05000027  E09000002   136
2  E05000028  E09000002   157
3  E05000029  E09000002   170
4  E05000030  E09000002   145

### Create lookups between LAD2011 and LAD2017 codes

Deprivation data uses LAD2013, which is the same as LAD2017 but different from LAD2011

In [24]:
lad17_df = pd.DataFrame.pivot_table(oa_to_ward_2017, columns=['LAD17CD','LAD17NM'],
                      aggfunc='count', fill_value=None, margins=False,
                      dropna=True, margins_name='All')['OA11CD'].reset_index()

lad11_df = pd.DataFrame.pivot_table(postcode_df, columns=['lad11cd','lad11nm'],
                      aggfunc='count', fill_value=None, margins=False,
                      dropna=True, margins_name='All')['pcd8'].reset_index()

lad17_to_lad11_lookup = pd.merge(lad11_df, lad17_df, left_on='lad11nm', right_on='LAD17NM',sort=True)

In [25]:
lad17_to_lad11_lookup.head()

     lad11cd       lad11nm   0_x    LAD17CD       LAD17NM  0_y
0  E07000223          Adur  1297  E07000223          Adur  211
1  E07000026     Allerdale  3606  E07000026     Allerdale  320
2  E07000032  Amber Valley  2378  E07000032  Amber Valley  400
3  E07000224          Arun  4360  E07000224          Arun  519
4  E07000170      Ashfield  2344  E07000170      Ashfield  385

---

## Import Charities Data: Postcode Level

* Source - [CharityBase](https://charitybase.uk/)

### Now that we have prepared all the lookup data, we can load up the charities data

In [110]:
cb_df = pd.read_csv('../data/comparison/charity-base-1548222944.csv',encoding='iso-8859-1')

In [111]:
cb_df.head(3)

,name,ids.GB-CHC,contact.address,contact.email,contact.geo.latitude,contact.geo.longitude,contact.person,contact.phone,contact.postcode
0,The British Council,209131,"[""The British Council"",""10 Spring Gardens"",""Lo...",trustees@britishcouncil.org,51.506999,-0.129744,Ms Alison Coutts,NaN,SW1A 2BN
1,Nuffield Health,205533,"[""Nuffield Health"",""Epsom Gateway"",""2 Ashley A...",toby.newman@nuffieldhealth.com,51.331616,-0.270322,Mr Toby Newman,01372426885,KT18 5AL
2,Lloyd'S Register Foundation,1145988,"[""71 Fenchurch Street"",""London""]",michelle.davies@lr.org,51.512507,-0.078733,Michelle Davies,0207 423 2783,EC3M 4BS

In [112]:
cb_df_merged = pd.merge(cb_df, postcode_to_ward2017_df_merged, left_on='contact.postcode', right_on='pcd7',sort=True)

In [113]:
cb_df_merged.head()

,name,ids.GB-CHC,contact.address,contact.email,contact.geo.latitude,contact.geo.longitude,contact.person,contact.phone,contact.postcode,pcd7,pcd8,WD17CD,WD17NM,ladcd,ladnm
0,St Albans Cathedral Music Trust,1051072,"[""St Albans Cathedral"",""Sumpter Yard"",""St. Alb...",ado@stalbanscathedral.org,51.749861,-0.341570,Mr Timothy Fleming,NaN,AL1 1BY,AL1 1BY,AL1 1BY,E05004803,Verulam,E07000240,St Albans
1,The St. Albans Cathedral Trust,1037405,"[""St Albans Cathedral"",""Sumpter Yard"",""St. Alb...",finance@stalbanscathedral.org,51.749861,-0.341570,Mr Timothy Fleming,NaN,AL1 1BY,AL1 1BY,AL1 1BY,E05004803,Verulam,E07000240,St Albans
2,Friends Of The Abbey Jmi School,802214,"[""The Abbey Ce Va Primary School"",""Grove Road""...",friends@abbey.herts.sch.uk,51.747408,-0.342340,Emma Fenn,01727 851802,AL1 1DQ,AL1 1DQ,AL1 1DQ,E05004803,Verulam,E07000240,St Albans
3,The Mothers' Union (Diocese Of St Albans),249814,"[""The Mothers Union"",""41 Holywell Hill"",""St. A...",sec_mustalbans@btinternet.com,51.748858,-0.340787,Mrs Liz James,01727 858979,AL1 1HD,AL1 1HD,AL1 1HD,E05004799,St Peters,E07000240,St Albans
4,The St Albans Diocesan Board Of Finance,248887,"[""Holywell Lodge"",""41 Holywell Hill"",""St Albans""]",mail@stalbans.anglican.org,51.748858,-0.340787,The St Albans Diocesan Board Of Finance,(01727) 854532,AL1 1HE,AL1 1HE,AL1 1HE,E05004799,St Peters,E07000240,St Albans

In [114]:
cb_df_merged = pd.merge(cb_df_merged, lad17_to_lad11_lookup, left_on='ladcd', right_on='LAD17CD',sort=True)

In [115]:
cb_df_merged.head()

,name,ids.GB-CHC,contact.address,contact.email,contact.geo.latitude,contact.geo.longitude,contact.person,contact.phone,contact.postcode,pcd7,pcd8,WD17CD,WD17NM,ladcd,ladnm,lad11cd,lad11nm,0_x,LAD17CD,LAD17NM,0_y
0,The Kilimatinde Trust,1063397,"[""108 High Street"",""Hartlepool""]",ktrust97@aol.com,54.695037,-1.182314,The Kilimatinde Trust,07790110086,TS240QY,TS240QY,TS24 0QY,E05008947,Headland and Harbour,E06000001,Hartlepool,E06000001,Hartlepool,2277,E06000001,Hartlepool,313
1,Miles For Men,1154996,"[""Flat 13"",""Innes Road"",""Hartlepool""]",hartlepool@milesformen.com,54.656487,-1.234086,Mr Michael Day,07479934400,TS253HQ,TS253HQ,TS25 3HQ,E05008949,Manor House,E06000001,Hartlepool,E06000001,Hartlepool,2277,E06000001,Hartlepool,313
2,Catcote School Parents And Friends,1054871,"[""Catcote School"",""Catcote Road"",""Hartlepool""]",NaN,54.677558,-1.236295,Caroline Lamb,01429264036,TS254EZ,TS254EZ,TS25 4EZ,E05008950,Rural West,E06000001,Hartlepool,E06000001,Hartlepool,2277,E06000001,Hartlepool,313
3,Friends Of Teesside Archives,1082369,"[""The Treasurer"",""Friends Of Teesside Archives...",enquiries@friendsofteessidearchives.org.uk,54.578293,-1.232241,Mr Andrew Bousfield,01642 557439,TS1 1DB,TS1 1DB,TS1 1DB,E05009857,Central,E06000002,Middlesbrough,E06000002,Middlesbrough,3193,E06000002,Middlesbrough,442
4,Platform Arts Limited,1119710,"[""Platform Arts Ltd"",""Middlesbrough Railway St...",info@platformarts.net,54.578944,-1.234921,Mrs Lorraine Brown,01642248330,TS1 1EG,TS1 1EG,TS1 1EG,E05009857,Central,E06000002,Middlesbrough,E06000002,Middlesbrough,3193,E06000002,Middlesbrough,442

In [116]:
cb_df_merged.count()

name                     80872
ids.GB-CHC               80872
contact.address          80872
contact.email            62912
contact.geo.latitude     80872
contact.geo.longitude    80872
contact.person           80872
contact.phone            70481
contact.postcode         80872
pcd7                     80872
pcd8                     80872
WD17CD                   80872
WD17NM                   80872
ladcd                    80872
ladnm                    80872
lad11cd                  80872
lad11nm                  80872
0_x                      80872
LAD17CD                  80872
LAD17NM                  80872
0_y                      80872
dtype: int64

In [117]:
cb_df_merged[cb_df_merged['ladnm'] == 'St Albans']

,name,ids.GB-CHC,contact.address,contact.email,contact.geo.latitude,contact.geo.longitude,contact.person,contact.phone,contact.postcode,pcd7,pcd8,WD17CD,WD17NM,ladcd,ladnm,lad11cd,lad11nm,0_x,LAD17CD,LAD17NM,0_y
47104,St Albans Cathedral Music Trust,1051072,"[""St Albans Cathedral"",""Sumpter Yard"",""St. Alb...",ado@stalbanscathedral.org,51.749861,-0.341570,Mr Timothy Fleming,NaN,AL1 1BY,AL1 1BY,AL1 1BY,E05004803,Verulam,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47105,The St. Albans Cathedral Trust,1037405,"[""St Albans Cathedral"",""Sumpter Yard"",""St. Alb...",finance@stalbanscathedral.org,51.749861,-0.341570,Mr Timothy Fleming,NaN,AL1 1BY,AL1 1BY,AL1 1BY,E05004803,Verulam,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47106,Friends Of The Abbey Jmi School,802214,"[""The Abbey Ce Va Primary School"",""Grove Road""...",friends@abbey.herts.sch.uk,51.747408,-0.342340,Emma Fenn,01727 851802,AL1 1DQ,AL1 1DQ,AL1 1DQ,E05004803,Verulam,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47107,The Mothers' Union (Diocese Of St Albans),249814,"[""The Mothers Union"",""41 Holywell Hill"",""St. A...",sec_mustalbans@btinternet.com,51.748858,-0.340787,Mrs Liz James,01727 858979,AL1 1HD,AL1 1HD,AL1 1HD,E05004799,St Peters,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47108,The St Albans Diocesan Board Of Finance,248887,"[""Holywell Lodge"",""41 Holywell Hill"",""St Albans""]",mail@stalbans.anglican.org,51.748858,-0.340787,The St Albans Diocesan Board Of Finance,(01727) 854532,AL1 1HE,AL1 1HE,AL1 1HE,E05004799,St Peters,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47109,Ecumenical Partnership Initiatives,1132125,"[""St. Albans Diocesan Office"",""41 Holywell Hil...",admin@workplacematters.org.uk,51.748858,-0.340787,Mrs Clara Lawrence-Bailey,01727 818 144,AL1 1HE,AL1 1HE,AL1 1HE,E05004799,St Peters,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47110,"Bishops College, Cheshunt",311097,"[""Holywell Lodge"",""41 Holywell Hill"",""St Albans""]",NaN,51.748858,-0.340787,The St Albans Diocesan Board Of Finance,(01727) 854532,AL1 1HE,AL1 1HE,AL1 1HE,E05004799,St Peters,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47111,Bromham Church Of England School Educational Fund,1053894,"[""41 Holywell Hill"",""St Albans""]",e.jones142@btinternet.com,51.748858,-0.340787,St Albans Diocesan Board Of Finance,(01727) 854532,AL1 1HE,AL1 1HE,AL1 1HE,E05004799,St Peters,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47112,Archdeacon Burney'S Charity,263606,"[""Holywell Lodge"",""41 Holywell Hill"",""St. Alba...",NaN,51.748858,-0.340787,Mr Nigel Benger,01727854532,AL1 1HE,AL1 1HE,AL1 1HE,E05004799,St Peters,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47113,Ampthill And Meppershall Educational Foundation,307472,"[""Holywell Lodge"",""41 Holywell Hill"",""St Alban...",NaN,51.748858,-0.340787,The St Albans Diocesan Board Of Finance,01727 854532,AL1 1HE,AL1 1HE,AL1 1HE,E05004799,St Peters,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47114,The Hertfordshire And Bedfordshire Clergy Charity,248889,"[""41 Holywell Hill"",""St Albans""]",mail@stalbans.anglican.org,51.748858,-0.340787,St Albans Diocesan Board Of Finance,(01727) 854532,AL1 1HE,AL1 1HE,AL1 1HE,E05004799,St Peters,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47115,Chipperfield Church Of England Primary School ...,311007,"[""Holywell Lodge"",""41 Holywell Hill"",""St Alban...",NaN,51.748858,-0.340787,The St Albans Diocesan Board Of Finance,01727 854532,AL1 1HE,AL1 1HE,AL1 1HE,E05004799,St Peters,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47116,Mary Elena Smith Trust,312152,"[""Holywell Lodge"",""41 Holywell Hill"",""St. Alba...",NaN,51.748858,-0.340787,The St Albans Diocesan Board Of Finance,01727 854532,AL1 1HE,AL1 1HE,AL1 1HE,E05004799,St Peters,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47117,Tring Church Of England Schools Education Fund,1074774,"[""Holywell Lodge"",""41 Holywell Hill"",""St Albans""]",NaN,51.748858,-0.340787,The St Albans Diocesan Board Of Finance,01727 854532,AL1 1HE,AL1 1HE,AL1 1HE,E05004799,St Peters,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47118,The John Gates Charity,206208,"[""Holywell Lodge"",""41 Holywell Hill"",""St Alban...",NaN,51.748858,-0.340787,The St Albans Diocesan Board Of Finance,01727 854532,AL1 1HE,AL1 1HE,AL1 1HE,E05004799,St Peters,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47119,Harold Browne And Higgin Prize Fund,311017,"[""Holywell Lodge"",""41 Holywell Hill"",""St Alban...",NaN,51.748858,-0.340787,The St Albans Diocesan Board Of Finance,01727 854532,AL1 1HE,AL1 1HE,AL1 1HE,E05004799,St Peters,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47120,Abbots Langley War Memorial Fund,210048,"[""Holywell Lodge"",""41 Holywell Hill"",""St. Alba...",NaN,51.748858,-0.340787,The St Albans Diocesan Board Of Finance,01727 854532,AL1 1HE,AL1 1HE,AL1 1HE,E05004799,St Peters,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47121,Dixon'S Educational Foundation,310997,"[""Holywell Lodge"",""41 Holywell Hill"",""St Alban...",NaN,51.748858,-0.340787,The St Albans Diocesan Board Of Finance,01727 854532,AL1 1HE,AL1 1HE,AL1 1HE,E05004799,St Peters,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47122,Tewin Cowper Endowed Church Of England School,310981,"[""Holywell Lodge"",""41 Holywell Hill"",""St Alban...",NaN,51.748858,-0.340787,The St Albans Diocesan Board Of Finance,01727 854532,AL1 1HE,AL1 1HE,AL1 1HE,E05004799,St Peters,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47123,St Peter'S School Parent Staff Association,1139130,"[""St. Peters Jmi School"",""Cottonmill Lane"",""St...",admin@stpeters.herts.sch.uk,51.746752,-0.335382,Mrs Vitina Thwaites,01727 853075,AL1 1HL,AL1 1HL,AL1 1HL,E05004802,Sopwell,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47124,Rickmansworth And Chorleywood District Scout C...,302566,"[""2 Pine Ridge"",""London Road"",""St. Albans""]",martinlantree@aol.com,51.738257,-0.315360,Mr Martin Lantree,01727862602,AL1 1JE,AL1 1JE,AL1 1JE,E05004789,Cunningham,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47125,7Th Rickmansworth And Chorleywood (1St Maple C...,274415,"[""2 Pine Ridge"",""London Road"",""St. Albans""]",NaN,51.738257,-0.315360,Mr Martin Lantree,01727862602,AL1 1JE,AL1 1JE,AL1 1JE,E05004789,Cunningham,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47126,St Albans School Association,1079376,"[""18 Cunningham Avenue"",""St. Albans""]",sasa@sasgateway.com,51.744597,-0.322917,St Albans School Association,01727 842193,AL1 1JL,AL1 1JL,AL1 1JL,E05004789,Cunningham,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47127,The Parochial Church Council Of The Ecclesiast...,1132924,"[""2 Hordle Gardens"",""St. Albans""]",office@sth-stp.org,51.745224,-0.324261,Mr Stephen Wilson,01727863490,AL1 1JW,AL1 1JW,AL1 1JW,E05004789,Cunningham,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47128,Rendcomb College Foundation,311713,"[""Strutt & Parker"",""15 London Road"",""St. Albans""]",patrick.beddows@struttandparker.com,51.750655,-0.337919,Mr Patrick Beddows,01727 738284,AL1 1LA,AL1 1LA,AL1 1LA,E05004799,St Peters,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47129,The Williams Church Music Trust,311088,"[""Pendragon House"",""65 London Road"",""St Albans...",richard.lovett@gilberts.uk.com,51.749541,-0.334431,R A Lovett,01727 750000,AL1 1LJ,AL1 1LJ,AL1 1LJ,E05004799,St Peters,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47130,The Sybil Owen Charitable Trust,1106153,"[""Photiades Solicitors"",""36-38 London Road"",""S...",davidshiebert@photiades.com,51.750305,-0.337975,Mr David Shiebert,01727 833134,AL1 1NG,AL1 1NG,AL1 1NG,E05004799,St Peters,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47131,The James Weir Foundation,251764,"[""Gloucester House"",""72 London Road"",""St Alban...",NaN,51.749895,-0.336339,Mercer & Hole Trustees Ltd,01727 869141,AL1 1NS,AL1 1NS,AL1 1NS,E05004799,St Peters,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47132,M And C Trust,265391,"[""Mercer & Hole"",""72 London Road"",""St. Albans""]",helenprice@mercerhole.co.uk,51.749895,-0.336339,Ms Helen Claire Barbara Price,01727 869141,AL1 1NS,AL1 1NS,AL1 1NS,E05004799,St Peters,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47133,G4S Employees' Trust,281616,"[""Mercer & Hole"",""72 London Road"",""St. Albans""]",NaN,51.749895,-0.336339,The Director,01727 869141,AL1 1NS,AL1 1NS,AL1 1NS,E05004799,St Peters,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47625,Opda,1179697,"[""6 The Mews"",""Breadcroft Lane"",""Harpenden""]",NaN,51.816760,-0.351099,Mr Daniel Keating,07788 740472,AL5 4TF,AL5 4TF,AL5 4TF,E05004790,Harpenden East,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47626,Harpenden And Wheathampstead District Scout Co...,302531,"[""5 Browning Road"",""Harpenden""]",dc-harpenden@virginmedia.com,51.819147,-0.346891,Mr John Mulholland,01582 767878,AL5 4TS,AL5 4TS,AL5 4TS,E05004790,Harpenden East,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47627,St Albans And District Foodbank,1158917,"[""5 Browning Road"",""Harpenden""]",manager@stalbansdistrict.foodbank.org.uk,51.819147,-0.346891,John Mulholland,01582767878,AL5 4TS,AL5 4TS,AL5 4TS,E05004790,Harpenden East,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47628,Harpenden Spotlight On Africa,1117585,"[""102 Station Road"",""Harpenden""]",enquiries@hsoa.org.uk,51.818693,-0.346603,Caroline Swanson,07768465640,AL5 4TU,AL5 4TU,AL5 4TU,E05004790,Harpenden East,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47629,Times Amateur Boxing Club,1132776,"[""15 Robin Court"",""Westfield Road"",""Harpenden""]",mail@timesabc.org.uk,51.828619,-0.352305,Brian Deegan,01582 621 676,AL5 4UH,AL5 4UH,AL5 4UH,E05004791,Harpenden North,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47630,The Jarvis (Harpenden) Charitable Trust,287659,"[""1 Waterside"",""Station Road"",""Harpenden"",""Her...",NaN,51.825029,-0.342525,Mr Brian Curragh,01582 711761,AL5 4US,AL5 4US,AL5 4US,E05004791,Harpenden North,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47631,Leaside Womens Club,1034712,"[""101 Lower Luton Road"",""Harpenden""]",graham.andee@ntlworld.com,51.824834,-0.341444,Mrs Andrea Major,NaN,AL5 5AL,AL5 5AL,AL5 5AL,E05004790,Harpenden East,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47632,Kimpton Folk Events,1168562,"[""Raisins Cottage"",""Mackerye End"",""Harpenden""]",hello@kimptonfolk.uk,51.832696,-0.320232,Richard Stewart,01582462098,AL5 5DU,AL5 5DU,AL5 5DU,E05004804,Wheathampstead,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47633,The Friends Of High Beeches,297518,"[""Dane Spring"",""Bower Heath Lane"",""Harpenden""]",admin@highbeeches.herts.sch.uk,51.842027,-0.335790,Miss Lisa Jane Kiff,01582761901,AL5 5EB,AL5 5EB,AL5 5EB,E05004804,Wheathampstead,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47634,Friends Of Sauncey Wood School,290481,"[""Sauncey Wood School"",""Pickford Hill"",""Harpen...",sauncey.wood.friends@gmail.com,51.827522,-0.336977,Friends Of Sauncey Wood Primary,01582 621514,AL5 5HL,AL5 5HL,AL5 5HL,E05004790,Harpenden East,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47635,"Friends Of St. Luke'S, Redbourn",1106427,"[""45 Porters Hill"",""Harpenden""]",foslr@stlukes.herts.sch.uk,51.828014,-0.339310,Roz Girling,01582 765043,AL5 5HR,AL5 5HR,AL5 5HR,E05004790,Harpenden East,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47636,Harpenden Money Advice Centre,1161164,"[""2 Turners Close"",""Harpenden""]",info@harpendenmoneyadvicecentre.co.uk,51.829299,-0.342427,Mr Richard Payne,01582621998,AL5 5HY,AL5 5HY,AL5 5HY,E05004790,Harpenden East,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47637,Bethany Community Church Harpenden,1176089,"[""2 Turners Close"",""Harpenden""]",admin@bethanycc.org.uk,51.829299,-0.342427,Mr Richard Payne,NaN,AL5 5HY,AL5 5HY,AL5 5HY,E05004790,Harpenden East,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47638,The Parochial Church Council Of The Ecclesiast...,1131603,"[""3 Avon Court"",""Milton Road"",""Harpenden""]",parish.office@stjohnsharpenden.org.uk,51.813319,-0.348758,Mr Paul Ashley Bedding,01582 763381,AL5 5LN,AL5 5LN,AL5 5LN,E05004793,Harpenden West,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47639,Friends Of Harpenden Academy,1159562,"[""1 Haddon Court"",""Shakespeare Road"",""Harpenden""]",contact.foha.harpenden@gmail.com,51.814655,-0.347974,Mrs Jo Harman,07725759460,AL5 5NB,AL5 5NB,AL5 5NB,E05004793,Harpenden West,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47640,The Music Makers Choir Of Harpenden,1120211,"[""112 Cowper Road"",""Harpenden""]",NaN,51.814442,-0.345511,Mr Patrick Angus Stevens,NaN,AL5 5NL,AL5 5NL,AL5 5NL,E05004793,Harpenden West,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47641,Baroque At The Edge,1175166,"[""70 Overstone Road"",""Harpenden""]",info@baroqueattheedge.co.uk,51.816373,-0.345948,Mrs Lucy Bending,01582 763494,AL5 5PJ,AL5 5PJ,AL5 5PJ,E05004793,Harpenden West,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47642,Watling View Parent Staff Association,1158303,"[""17 Carisbrooke Road"",""Harpenden""]",lucy.rayner@btinternet.com,51.819588,-0.341173,Lucy Rayner,07811 186814,AL5 5QS,AL5 5QS,AL5 5QS,E05004790,Harpenden East,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47643,St George'S School Association Of Parents And ...,1150723,"[""19 Lyndhurst Drive"",""Harpenden""]",psa@stgeorges.herts.sch.uk,51.818494,-0.342083,Eddy De Jong,NaN,AL5 5QW,AL5 5QW,AL5 5QW,E05004790,Harpenden East,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47644,Crabtree School Parents' Association,297330,"[""Crabtree School"",""Crabtree Lane"",""Harpenden""...",admin@crabtreejm.herts.sch.uk,51.818263,-0.337783,Treasurer To The Association,01582623501,AL5 5RD,AL5 5RD,AL5 5RD,E05004790,Harpenden East,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47645,Timeout After School And Breakfast Club,1172436,"[""153 Crabtree Lane"",""Harpenden""]",NaN,51.818263,-0.337783,Mrs Sarah Beale,01582 713452,AL5 5RD,AL5 5RD,AL5 5RD,E05004790,Harpenden East,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47646,"Parochial Church Council Of St Nicholas, Harpe...",1130793,"[""92 Crabtree Lane"",""Harpenden""]",office@stnicholasharpenden.org.uk,51.816757,-0.338781,Mr Peter Timms,01582 760752,AL5 5RW,AL5 5RW,AL5 5RW,E05004790,Harpenden East,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47647,The Joseph And Lilian Sully Foundation,1014823,"[""92 Crabtree Lane"",""Harpenden""]",ptimms@kingstonsmith.co.uk,51.816757,-0.338781,Mr Peter John Timms,01582 760752,AL5 5RW,AL5 5RW,AL5 5RW,E05004790,Harpenden East,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47648,Grosvenor Womens Club,1024452,"[""72 Aldwickbury Crescent"",""Harpenden""]",avis.dalton@ntlworld.com,51.814226,-0.339063,Mrs Avis Dalton,01582 623951,AL5 5SE,AL5 5SE,AL5 5SE,E05004790,Harpenden East,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47649,10Th Harpenden (Methodist) Scout Group,292736,"[""Crabtree Fields"",""Waldegrave Park"",""Harpende...",gsl@10th-harpenden-scouts.org.uk,51.814125,-0.334511,10Th Harpenden (Methodist) Scout Group,NaN,AL5 5SF,AL5 5SF,AL5 5SF,E05004790,Harpenden East,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47650,Crabtree Church Trust,1092748,"[""91 Chesterton Avenue"",""Harpenden""]",johncrablower@hotmail.co.uk,51.813517,-0.340438,Mr John Arthur Lower,01582 712428,AL5 5ST,AL5 5ST,AL5 5ST,E05004790,Harpenden East,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47651,Harpenden Society,278154,"[""71 Alzey Gardens"",""Harpenden""]",secretary@harpendensociety.org,51.812180,-0.338137,Robert Fletcher,01582 763036,AL5 5SY,AL5 5SY,AL5 5SY,E05004790,Harpenden East,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47652,5Th Harpenden Scout Group,1155533,"[""54 Meadow Walk"",""Harpenden""]",exec@5thharpendenscouts.org.uk,51.809990,-0.346051,Mrs Rachel Jones,01582 763613,AL5 5TG,AL5 5TG,AL5 5TG,E05004793,Harpenden West,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47653,Crossroads Retreats,1118176,"[""Po Box 522"",""Harpenden"",""Herts""]",info@crossroadsretreats.co.uk,51.747650,-0.301973,Mr Chris Blakeley,07964379234,AL5 9EW,AL5 9EW,AL5 9EW,E05004785,Ashley,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429
47654,St Albans Rangers Football Club,1130881,"[""Harperbury Hospital"",""Harper Lane"",""Shenley""...",lisarees17@outlook.com,51.703907,-0.304045,St Albans Rangers,NaN,WD7 9HQ,WD7 9HQ,WD7 9HQ,E05004797,Park Street,E07000240,St Albans,E07000100,St Albans,3901,E07000240,St Albans,429

In [118]:
cb_df_merged.to_csv('../data/comparison/cb_df_merged.csv')

In [119]:
aggregagations = {'ids.GB-CHC': 'count'}

cb_lad_pivot_df = pd.pivot_table(cb_df_merged, index=['lad11cd'], aggfunc = aggregagations)
cb_lad_pivot_df.reset_index(inplace=True)

cb_lad_pivot_df = cb_lad_pivot_df[cb_lad_pivot_df['lad11cd'].astype(str).str[0] == 'E']

cb_lad_pivot_df.rename(index=str, columns={'ids.GB-CHC' : 'comparison_Number_of_charities'}, inplace=True)

In [120]:
cb_lad_pivot_df.head()

     lad11cd  comparison_Number_of_charities
0  E06000001                               3
1  E06000002                             187
2  E06000003                              46
3  E06000004                               6
4  E06000005                             165

In [121]:
cb_lad_pivot_df.describe()

       comparison_Number_of_charities
count                      325.000000
mean                       243.027692
std                        246.383526
min                          2.000000
25%                         46.000000
50%                        173.000000
75%                        360.000000
max                       1732.000000

In [122]:
aggregagations = {'ids.GB-CHC': 'count'}

cb_ward_pivot_df = pd.pivot_table(cb_df_merged, index=['WD17CD'], aggfunc = aggregagations)
cb_ward_pivot_df.reset_index(inplace=True)

cb_ward_pivot_df = cb_ward_pivot_df[cb_ward_pivot_df.WD17CD.astype(str).str[0] == 'E']

cb_ward_pivot_df.rename(index=str, columns={'ids.GB-CHC' : 'comparison_Number_of_charities'}, inplace=True)

In [123]:
cb_ward_pivot_df.head()

      WD17CD  comparison_Number_of_charities
0  E05000026                               1
1  E05000027                               9
2  E05000028                              23
3  E05000029                              12
4  E05000030                              12

In [124]:
cb_ward_pivot_df.describe()

       comparison_Number_of_charities
count                     5296.000000
mean                        14.913897
std                         19.973130
min                          1.000000
25%                          2.000000
50%                         10.000000
75%                         20.000000
max                        514.000000

---

## Import Population Data

Source - [ONS Open Geography Portal](https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/populationestimates/datasets/wardlevelmidyearpopulationestimatesexperimental)

In [40]:
pop_ward_df = pd.read_excel('../data/comparison/SAPE20DT8-mid-2017-ward-2017-syoa-estimates-unformatted.xls', sheet_name='Mid-2017 Persons', index_col=[0],skiprows=4)

In [41]:
pop_ward_df.reset_index(inplace=True)
pop_ward_df = pop_ward_df[['Ward Code 1','Ward Name 1','All Ages']]
pop_ward_df.rename(index=str, columns={'All Ages' : 'comparison_Population_Estimate'}, inplace=True)

In [42]:
pop_ward_df.head()

  Ward Code 1     Ward Name 1  comparison_Population_Estimate
0   E05000026           Abbey                         15460.0
1   E05000027          Alibon                         10995.0
2   E05000028       Becontree                         14862.0
3   E05000029  Chadwell Heath                         11265.0
4   E05000030       Eastbrook                         11473.0

In [43]:
aggregagations = {'pcd8': 'count'}

postcode_df_ward_lad = pd.pivot_table(postcode_df, index=['wd11cd','lad11cd'], aggfunc = aggregagations)
postcode_df_ward_lad.reset_index(inplace=True)

In [44]:
pop_ward_lad_df = pd.merge(pop_ward_df, ward17_to_lad11_lookup, left_on='Ward Code 1', \
                           right_on='WD17CD',sort=True, how='left')
pop_ward_lad_df = pop_ward_lad_df[pop_ward_lad_df['Ward Code 1'].astype(str).str[0] == 'E']
pop_ward_lad_df = pop_ward_lad_df[pop_ward_lad_df['comparison_Population_Estimate'].notnull()]

In [45]:
aggregagations = {'comparison_Population_Estimate': 'sum'}

pop_lad_df = pd.pivot_table(pop_ward_lad_df, index=['lad11cd'], aggfunc = aggregagations)
pop_lad_df.reset_index(inplace=True)

In [46]:
pop_lad_df.head()

     lad11cd  comparison_Population_Estimate
0  E06000001                         93019.0
1  E06000002                        140639.0
2  E06000003                        136005.0
3  E06000004                        196487.0
4  E06000005                        106347.0

---

## Import Geo-Data: LSOA Level

Source - [ONS Open Geography Portal](http://geoportal.statistics.gov.uk/datasets/lower-layer-super-output-areas-december-2011-super-generalised-clipped-boundaries-in-england-and-wales/data)

In [47]:
gdf = gpd.read_file('../data/geo/Lower_Layer_Super_Output_Areas_December_2011_Generalised_Clipped__Boundaries_in_England_and_Wales/Lower_Layer_Super_Output_Areas_December_2011_Generalised_Clipped__Boundaries_in_England_and_Wales.shp')
gdf.set_index('lsoa11cd',inplace=True)
gdf.index.names = ['LSOA2011_CD']
gdf = gdf[gdf.index.astype(str).str[0] == 'E']
gdf.reset_index(inplace=True)
gdf['geometry'] = gdf['geometry'].to_crs(epsg=4326)

In [48]:
gdf.head()

,LSOA2011_CD,objectid,lsoa11nm,lsoa11nmw,st_areasha,st_lengths,geometry
0,E01000001,1,City of London 001A,City of London 001A,133320.768872,2291.846072,POLYGON ((-0.09728867323202922 51.521577042020...
1,E01000002,2,City of London 001B,City of London 001B,226191.272990,2433.960112,POLYGON ((-0.08812915078150368 51.519410719510...
2,E01000003,3,City of London 001C,City of London 001C,57302.966538,1142.359799,POLYGON ((-0.0967857370545377 51.5232494901361...
3,E01000005,4,City of London 001E,City of London 001E,190738.760504,2167.868343,POLYGON ((-0.07323093900475477 51.510002398683...
4,E01000006,5,Barking and Dagenham 016A,Barking and Dagenham 016A,144195.846857,1935.510354,POLYGON ((0.09115207554164177 51.5390853019798...

In [49]:
display(gdf.loc[0,'geometry'])

In [50]:
gdf_lsoa = gdf

---

## Import Geo-Data: LAD Level

Source - [ONS Open Geography Portal](http://geoportal.statistics.gov.uk/datasets/local-authority-districts-december-2011-gb-bgc)

In [51]:
gdf = gpd.read_file('../data/geo/Local_Authority_Districts_December_2011_GB_BGC/Local_Authority_Districts_December_2011_GB_BGC.shp')

gdf.set_index('lad11cd',inplace=True)
gdf.index.names = ['LAD2011_CD']
gdf = gdf[gdf.index.astype(str).str[0] == 'E']
gdf.reset_index(inplace=True)
gdf['geometry'] = gdf['geometry'].to_crs(epsg=4326)

gdf.head()

,LAD2011_CD,objectid,lad11cdo,lad11nm,lad11nmw,st_areasha,st_lengths,geometry
0,E06000001,1,00EB,Hartlepool,None,9.389290e+07,68996.677754,(POLYGON ((-1.270237406245723 54.7271584031430...
1,E06000002,2,00EC,Middlesbrough,None,5.386184e+07,44917.925537,(POLYGON ((-1.230015802826847 54.5840956722952...
2,E06000003,3,00EE,Redcar and Cleveland,None,2.449159e+08,93270.866874,(POLYGON ((-1.137165952757933 54.6469344081215...
3,E06000004,4,00EF,Stockton-on-Tees,None,2.039201e+08,155579.742599,(POLYGON ((-1.317985542636292 54.6452624807959...
4,E06000039,39,00MD,Slough,None,3.253413e+07,43424.361153,POLYGON ((-0.6247880291356083 51.5380032936336...

In [52]:
display(gdf.loc[0,'geometry'])

In [53]:
gdf_lad = gdf

---

## Import Geo-Data: Ward Level

Source - [LSOAs 2011 to Wards 2017 lookup table](http://geoportal.statistics.gov.uk/datasets/lower-layer-super-output-area-2011-to-ward-2017-lookup-in-england-and-wales)

In [54]:
gdf = gpd.read_file('../data/geo/Wards_December_2017_Generalised_Clipped_Boundaries_in_Great_Britain/Wards_December_2017_Generalised_Clipped_Boundaries_in_Great_Britain.shp')

gdf.set_index('wd17cd',inplace=True)
#gdf.index.names = ['LAD2011_CD']
gdf = gdf[gdf.index.astype(str).str[0] == 'E']
gdf.reset_index(inplace=True)
gdf['geometry'] = gdf['geometry'].to_crs(epsg=4326)

gdf.head()

,wd17cd,objectid,wd17nm,wd17nmw,bng_e,bng_n,long,lat,st_areasha,st_lengths,geometry
0,E05000026,1,Abbey,None,544434,184378,0.081291,51.539799,1.247620e+06,7858.341538,(POLYGON ((0.07134621115186986 51.537247597410...
1,E05000027,2,Alibon,None,549247,185196,0.150987,51.545898,1.355411e+06,6246.797017,POLYGON ((0.1563507181798993 51.55101883054941...
2,E05000028,3,Becontree,None,546863,185869,0.116912,51.552601,1.289741e+06,6280.315821,POLYGON ((0.1249895183523908 51.56434101285452...
3,E05000029,4,Chadwell Heath,None,548266,189340,0.138596,51.583401,3.382318e+06,9496.494913,"POLYGON ((0.1300262084289008 51.5707532745533,..."
4,E05000030,5,Eastbrook,None,550774,186272,0.173453,51.555199,3.449511e+06,8857.773001,POLYGON ((0.1563507181798993 51.55101883054941...

In [55]:
display(gdf.loc[0,'geometry'])

In [56]:
gdf_ward = gdf

---

## Map LSOA Deprivation data to Ward Level

Sources: 
* [LSOAs 2011 to Wards 2017 lookup table](http://geoportal.statistics.gov.uk/datasets/lower-layer-super-output-area-2011-to-ward-2017-lookup-in-england-and-wales)
* [Indices of Deprivation Homepage](https://www.gov.uk/government/statistics/english-indices-of-deprivation-2015) - [File 7: all ranks, deciles and scores for the indices of deprivation, and population denominators](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/467774/File_7_ID_2015_All_ranks__deciles_and_scores_for_the_Indices_of_Deprivation__and_population_denominators.csv/preview)

In [57]:
lookup_df = pd.read_csv('../data/geo/Lower_Layer_Super_Output_Area_2011_to_Ward_2017_Lookup_in_England_and_Wales.csv')

#lookup_df.head()

In [58]:
deprivation_all_df =  pd.read_csv('../data/deprivation/File_7_ID_2015_All_ranks__deciles_and_scores_for_the_Indices_of_Deprivation__and_population_denominators.csv')

#deprivation_all_df.head()

In [59]:
ward_lsoa_merged = pd.merge(lookup_df, deprivation_all_df, left_on='LSOA11CD', right_on='LSOA code (2011)',sort=True)

deprivation_colums = [{'oldvar': 'Index of Multiple Deprivation (IMD) Score', 'newvar':'comparison_IMD_avg_score'}, \
                        {'oldvar': 'Income Score (rate)', 'newvar':'comparison_Income_avg_score'}, \
                        {'oldvar': 'Employment Score (rate)', 'newvar':'comparison_Employment_avg_score'}, \
                        {'oldvar': 'Education, Skills and Training Score', 'newvar':'comparison_Education_avg_score'}, \
                        {'oldvar': 'Health Deprivation and Disability Score', 'newvar':'comparison_Health_avg_score'}, \
                        {'oldvar': 'Crime Score', 'newvar':'comparison_Crime_avg_score'}, \
                        {'oldvar': 'Barriers to Housing and Services Score', 'newvar':'comparison_Barriers_avg_score'}, \
                        {'oldvar': 'Living Environment Score', 'newvar':'comparison_Living_avg_score'}]


ward_lsoa_merged = ward_lsoa_merged[['LSOA11CD','LSOA11NM','WD17CD','WD17NM','WD17NMW','LAD17CD','LAD17NM']
                                    + [c['oldvar'] for c in deprivation_colums]
                                    + ['Total population: mid 2012 (excluding prisoners)']]
ward_lsoa_merged.head()

,LSOA11CD,LSOA11NM,WD17CD,WD17NM,WD17NMW,LAD17CD,LAD17NM,Index of Multiple Deprivation (IMD) Score,Income Score (rate),Employment Score (rate),"Education, Skills and Training Score",Health Deprivation and Disability Score,Crime Score,Barriers to Housing and Services Score,Living Environment Score,Total population: mid 2012 (excluding prisoners)
0,E01000001,City of London 001A,E05009288,Aldersgate,NaN,E09000001,City of London,6.063,0.011,0.015,0.021,-1.918,-1.649,27.134,34.502,1469
1,E01000002,City of London 001B,E05009302,Cripplegate,NaN,E09000001,City of London,6.255,0.012,0.017,0.040,-1.931,-1.692,26.358,37.106,1469
2,E01000003,City of London 001C,E05009302,Cripplegate,NaN,E09000001,City of London,19.548,0.105,0.088,9.612,0.321,-0.987,31.861,48.337,1421
3,E01000005,City of London 001E,E05009308,Portsoken,NaN,E09000001,City of London,26.005,0.217,0.144,15.045,0.050,-0.831,35.104,34.811,1014
4,E01000006,Barking and Dagenham 016A,E05000026,Abbey,NaN,E09000002,Barking and Dagenham,22.568,0.133,0.094,14.525,-0.390,0.746,39.737,30.477,1794

#### Calculate population weighted averages of LSOA deprivations for each ward

In [60]:
wtavg = lambda x, c: np.average(x[c], weights = x['Total population: mid 2012 (excluding prisoners)'], axis = 0)

ward_deprivation = ward_lsoa_merged.groupby(['WD17CD','WD17NM']).size().reset_index(name='LSOA_counts').set_index('WD17CD')

for c in deprivation_colums:
    dfwavg = ward_lsoa_merged.groupby('WD17CD').apply(wtavg, c['oldvar'])
    ward_deprivation = pd.merge(ward_deprivation,pd.DataFrame(dfwavg,columns=[c['newvar']]), on='WD17CD',sort=True)

ward_deprivation = ward_deprivation.reset_index()
ward_deprivation.head()

,WD17CD,WD17NM,LSOA_counts,comparison_IMD_avg_score,comparison_Income_avg_score,comparison_Employment_avg_score,comparison_Education_avg_score,comparison_Health_avg_score,comparison_Crime_avg_score,comparison_Barriers_avg_score,comparison_Living_avg_score
0,E05000026,Abbey,7,33.084734,0.224387,0.122055,16.604366,0.091863,0.938570,48.529075,35.081641
1,E05000027,Alibon,6,38.235551,0.270853,0.180044,31.023750,0.588629,1.011638,36.485621,25.308429
2,E05000028,Becontree,8,35.369455,0.260072,0.168042,28.687858,0.489389,0.871280,33.679650,27.403831
3,E05000029,Chadwell Heath,6,35.026214,0.234857,0.157682,28.728325,0.497478,1.040609,36.237735,21.941597
4,E05000030,Eastbrook,7,26.797683,0.191430,0.141619,24.290097,0.178134,0.341267,32.634020,20.188132

In [61]:
ward_deprivation[['comparison_IMD_avg_score']].describe()

       comparison_IMD_avg_score
count               7427.000000
mean                  18.912465
std                   11.613879
min                    1.269000
25%                   10.394736
50%                   15.743408
75%                   24.834664
max                   83.416700

---
## Merge Geo-data and Deprivation data at LAD level

In [62]:

lad_df = pd.merge(lad_df, lad17_to_lad11_lookup, left_on='LAD2013_CD', right_on='LAD17CD',sort=True)
lad_df.head()

,LAD2013_CD,LAD2013_NM,comparison_IMD_avg_score,comparison_Income_avg_score,comparison_Employment_avg_score,comparison_Education_avg_score,comparison_Health_avg_score,comparison_Crime_avg_score,comparison_Barriers_avg_score,comparison_Living_avg_score,lad11cd,lad11nm,0_x,LAD17CD,LAD17NM,0_y
0,E06000001,Hartlepool,33.178,0.239,0.211,30.510,0.929,0.078,13.128,8.260,E06000001,Hartlepool,2277,E06000001,Hartlepool,313
1,E06000002,Middlesbrough,40.216,0.268,0.216,40.640,1.195,0.633,18.316,12.907,E06000002,Middlesbrough,3193,E06000002,Middlesbrough,442
2,E06000003,Redcar and Cleveland,28.567,0.204,0.186,27.875,0.752,-0.013,12.863,7.923,E06000003,Redcar and Cleveland,3574,E06000003,Redcar and Cleveland,464
3,E06000004,Stockton-on-Tees,24.625,0.177,0.156,24.637,0.548,-0.263,17.844,7.068,E06000004,Stockton-on-Tees,4548,E06000004,Stockton-on-Tees,618
4,E06000005,Darlington,23.639,0.168,0.150,22.569,0.502,0.224,12.346,10.710,E06000005,Darlington,2472,E06000005,Darlington,360

In [63]:
#combined_gpd = gdf[['st_areasha','st_lengths','geometry']].join(lad_df)
combined_gpd = pd.DataFrame()
combined_gpd = pd.merge(gdf_lad[['LAD2011_CD','st_areasha','st_lengths','geometry']], lad_df, \
                  left_on='LAD2011_CD', right_on='lad11cd',sort=True)

In [64]:
combined_gpd.head()

,LAD2011_CD,st_areasha,st_lengths,geometry,LAD2013_CD,LAD2013_NM,comparison_IMD_avg_score,comparison_Income_avg_score,comparison_Employment_avg_score,comparison_Education_avg_score,comparison_Health_avg_score,comparison_Crime_avg_score,comparison_Barriers_avg_score,comparison_Living_avg_score,lad11cd,lad11nm,0_x,LAD17CD,LAD17NM,0_y
0,E06000001,9.389290e+07,68996.677754,(POLYGON ((-1.270237406245723 54.7271584031430...,E06000001,Hartlepool,33.178,0.239,0.211,30.510,0.929,0.078,13.128,8.260,E06000001,Hartlepool,2277,E06000001,Hartlepool,313
1,E06000002,5.386184e+07,44917.925537,(POLYGON ((-1.230015802826847 54.5840956722952...,E06000002,Middlesbrough,40.216,0.268,0.216,40.640,1.195,0.633,18.316,12.907,E06000002,Middlesbrough,3193,E06000002,Middlesbrough,442
2,E06000003,2.449159e+08,93270.866874,(POLYGON ((-1.137165952757933 54.6469344081215...,E06000003,Redcar and Cleveland,28.567,0.204,0.186,27.875,0.752,-0.013,12.863,7.923,E06000003,Redcar and Cleveland,3574,E06000003,Redcar and Cleveland,464
3,E06000004,2.039201e+08,155579.742599,(POLYGON ((-1.317985542636292 54.6452624807959...,E06000004,Stockton-on-Tees,24.625,0.177,0.156,24.637,0.548,-0.263,17.844,7.068,E06000004,Stockton-on-Tees,4548,E06000004,Stockton-on-Tees,618
4,E06000005,1.974733e+08,105743.464662,POLYGON ((-1.637667569473506 54.61712823531258...,E06000005,Darlington,23.639,0.168,0.150,22.569,0.502,0.224,12.346,10.710,E06000005,Darlington,2472,E06000005,Darlington,360

In [65]:
filename = '../data/geo/combined_deprivation_lad.json'

try: 
    os.remove(filename)
except OSError:
    pass
combined_gpd.to_file(filename, driver="GeoJSON")

In [66]:
combined_gpd[['comparison_IMD_avg_score']].describe()

       comparison_IMD_avg_score
count                326.000000
mean                  19.463620
std                    8.004457
min                    5.009000
25%                   12.863750
50%                   18.057500
75%                   25.210000
max                   41.997000

In [67]:
combined_gpd[['comparison_Health_avg_score']].describe()

       comparison_Health_avg_score
count                   326.000000
mean                     -0.154037
std                       0.655901
min                      -2.191000
25%                      -0.638750
50%                      -0.201500
75%                       0.349250
max                       1.489000

In [68]:
combined_gpd_LAD = combined_gpd

---
## Merge Geo-data and Deprivation data at Ward level

In [69]:
combined_gpd = pd.DataFrame()
combined_gpd = pd.merge(gdf_ward[['wd17cd','geometry']], ward_deprivation, \
                  left_on='wd17cd', right_on='WD17CD',sort=True)
combined_gpd.drop(columns=['WD17CD'],inplace=True)

In [70]:
combined_gpd.head()

,wd17cd,geometry,WD17NM,LSOA_counts,comparison_IMD_avg_score,comparison_Income_avg_score,comparison_Employment_avg_score,comparison_Education_avg_score,comparison_Health_avg_score,comparison_Crime_avg_score,comparison_Barriers_avg_score,comparison_Living_avg_score
0,E05000026,(POLYGON ((0.07134621115186986 51.537247597410...,Abbey,7,33.084734,0.224387,0.122055,16.604366,0.091863,0.938570,48.529075,35.081641
1,E05000027,POLYGON ((0.1563507181798993 51.55101883054941...,Alibon,6,38.235551,0.270853,0.180044,31.023750,0.588629,1.011638,36.485621,25.308429
2,E05000028,POLYGON ((0.1249895183523908 51.56434101285452...,Becontree,8,35.369455,0.260072,0.168042,28.687858,0.489389,0.871280,33.679650,27.403831
3,E05000029,"POLYGON ((0.1300262084289008 51.5707532745533,...",Chadwell Heath,6,35.026214,0.234857,0.157682,28.728325,0.497478,1.040609,36.237735,21.941597
4,E05000030,POLYGON ((0.1563507181798993 51.55101883054941...,Eastbrook,7,26.797683,0.191430,0.141619,24.290097,0.178134,0.341267,32.634020,20.188132

In [71]:
filename = '../data/geo/combined_deprivation_ward.json'

try: 
    os.remove(filename)
except OSError:
    pass
combined_gpd.to_file(filename, driver="GeoJSON")

In [72]:
combined_gpd_ward = combined_gpd

## Export just the Geo-data and Geo-code to place names lookup

### Ward level

In [73]:
gdf = gpd.read_file('../data/geo/Wards_December_2017_Generalised_Clipped_Boundaries_in_Great_Britain/Wards_December_2017_Generalised_Clipped_Boundaries_in_Great_Britain.shp')

gdf.set_index('wd17cd',inplace=True)
#gdf.index.names = ['LAD2011_CD']
gdf = gdf[gdf.index.astype(str).str[0] == 'E']
gdf.reset_index(inplace=True)
gdf['geometry'] = gdf['geometry'].to_crs(epsg=4326)

filename = '../data/geo/geo_eng_ward.json'

try: 
    os.remove(filename)
except OSError:
    pass
gdf.to_file(filename, driver="GeoJSON")

### Ward level Lookup

In [74]:

filename_for_lookup = '../data/geo/geo_eng_ward_lookup.json'

df_for_lookup = pd.DataFrame(gdf)
df_for_lookup = df_for_lookup[['wd17cd','wd17nm']]
df_for_lookup.rename(columns={'wd17cd':'index','wd17nm':'value'},inplace=True)
df_for_lookup['key']=df_for_lookup['index']
df_for_lookup.set_index('index',inplace=True)

try: 
    os.remove(filename_for_lookup)
except OSError:
    pass
df_for_lookup.to_json(filename_for_lookup,orient='index')

### LAD level

In [75]:
gdf = gpd.read_file('../data/geo/Local_Authority_Districts_December_2011_GB_BGC/Local_Authority_Districts_December_2011_GB_BGC.shp')
gdf.set_index('lad11cd',inplace=True)
gdf.index.names = ['LAD2011_CD']
gdf = gdf[gdf.index.astype(str).str[0] == 'E']
gdf.reset_index(inplace=True)
gdf['geometry'] = gdf['geometry'].to_crs(epsg=4326)

filename = '../data/geo/geo_eng_LAD.json'

try: 
    os.remove(filename)
except OSError:
    pass
gdf.to_file(filename, driver="GeoJSON")

### LAD level lookup

In [76]:

filename_for_lookup = '../data/geo/geo_eng_LAD_lookup.json'

df_for_lookup = pd.DataFrame(gdf)
df_for_lookup = df_for_lookup[['LAD2011_CD','lad11nm']]
df_for_lookup.rename(columns={'LAD2011_CD':'index','lad11nm':'value'},inplace=True)
df_for_lookup['key']=df_for_lookup['index']
df_for_lookup.set_index('index',inplace=True)

try: 
    os.remove(filename_for_lookup)
except OSError:
    pass
df_for_lookup.to_json(filename_for_lookup,orient='index')

## Export just the Deprivation data

### Ward level

In [77]:
ward_deprivation.head()

,WD17CD,WD17NM,LSOA_counts,comparison_IMD_avg_score,comparison_Income_avg_score,comparison_Employment_avg_score,comparison_Education_avg_score,comparison_Health_avg_score,comparison_Crime_avg_score,comparison_Barriers_avg_score,comparison_Living_avg_score
0,E05000026,Abbey,7,33.084734,0.224387,0.122055,16.604366,0.091863,0.938570,48.529075,35.081641
1,E05000027,Alibon,6,38.235551,0.270853,0.180044,31.023750,0.588629,1.011638,36.485621,25.308429
2,E05000028,Becontree,8,35.369455,0.260072,0.168042,28.687858,0.489389,0.871280,33.679650,27.403831
3,E05000029,Chadwell Heath,6,35.026214,0.234857,0.157682,28.728325,0.497478,1.040609,36.237735,21.941597
4,E05000030,Eastbrook,7,26.797683,0.191430,0.141619,24.290097,0.178134,0.341267,32.634020,20.188132

In [78]:
out = '[' + ward_deprivation.to_json(orient='records')[1:-1] + ']'
with open('../data/comparison/comparison_eng_ward_deprivation.json', 'w') as f:
    f.write(out)

In [79]:
ward_deprivation.to_csv('../data/comparison/comparison_eng_ward_deprivation.csv.gz', compression='gzip')
ward_deprivation.to_csv('../data/comparison/comparison_eng_ward_deprivation.csv')

### LAD level

In [80]:
lad_df.head()

,LAD2013_CD,LAD2013_NM,comparison_IMD_avg_score,comparison_Income_avg_score,comparison_Employment_avg_score,comparison_Education_avg_score,comparison_Health_avg_score,comparison_Crime_avg_score,comparison_Barriers_avg_score,comparison_Living_avg_score,lad11cd,lad11nm,0_x,LAD17CD,LAD17NM,0_y
0,E06000001,Hartlepool,33.178,0.239,0.211,30.510,0.929,0.078,13.128,8.260,E06000001,Hartlepool,2277,E06000001,Hartlepool,313
1,E06000002,Middlesbrough,40.216,0.268,0.216,40.640,1.195,0.633,18.316,12.907,E06000002,Middlesbrough,3193,E06000002,Middlesbrough,442
2,E06000003,Redcar and Cleveland,28.567,0.204,0.186,27.875,0.752,-0.013,12.863,7.923,E06000003,Redcar and Cleveland,3574,E06000003,Redcar and Cleveland,464
3,E06000004,Stockton-on-Tees,24.625,0.177,0.156,24.637,0.548,-0.263,17.844,7.068,E06000004,Stockton-on-Tees,4548,E06000004,Stockton-on-Tees,618
4,E06000005,Darlington,23.639,0.168,0.150,22.569,0.502,0.224,12.346,10.710,E06000005,Darlington,2472,E06000005,Darlington,360

In [81]:
out = '[' + lad_df.to_json(orient='records')[1:-1] + ']'
with open('../data/comparison/comparison_eng_LAD_deprivation.json', 'w') as f:
    f.write(out)

In [82]:
lad_df.to_csv('../data/comparison/comparison_eng_LAD_deprivation.csv.gz', compression='gzip')
lad_df.to_csv('../data/comparison/comparison_eng_LAD_deprivation.csv')

## Export just comparison data

### Number of charities - LAD level

In [125]:
cb_lad_pivot_df.head()

     lad11cd  comparison_Number_of_charities
0  E06000001                               3
1  E06000002                             187
2  E06000003                              46
3  E06000004                               6
4  E06000005                             165

In [126]:
out = '[' + cb_lad_pivot_df.to_json(orient='records')[1:-1] + ']'
with open('../data/comparison/comparison_eng_LAD_charities.json', 'w') as f:
    f.write(out)

In [127]:
cb_lad_pivot_df.to_csv('../data/comparison/comparison_eng_LAD_charities.csv')

### Number of charities - Ward level

In [128]:
cb_ward_pivot_df.head()

      WD17CD  comparison_Number_of_charities
0  E05000026                               1
1  E05000027                               9
2  E05000028                              23
3  E05000029                              12
4  E05000030                              12

In [129]:
out = '[' + cb_ward_pivot_df.to_json(orient='records')[1:-1] + ']'
with open('../data/comparison/comparison_eng_ward_charities.json', 'w') as f:
    f.write(out)

In [130]:
cb_ward_pivot_df.to_csv('../data/comparison/comparison_eng_ward_charities.csv')

### Population 2017 - LAD level

In [89]:
pop_lad_df.head()

     lad11cd  comparison_Population_Estimate
0  E06000001                         93019.0
1  E06000002                        140639.0
2  E06000003                        136005.0
3  E06000004                        196487.0
4  E06000005                        106347.0

In [90]:
pop_lad_df.to_csv('../data/comparison/comparison_eng_LAD_population.csv')

### Population 2017 - Ward level

In [91]:
pop_ward_df.head()

  Ward Code 1     Ward Name 1  comparison_Population_Estimate
0   E05000026           Abbey                         15460.0
1   E05000027          Alibon                         10995.0
2   E05000028       Becontree                         14862.0
3   E05000029  Chadwell Heath                         11265.0
4   E05000030       Eastbrook                         11473.0

In [92]:
pop_ward_df.to_csv('../data/comparison/comparison_eng_ward_population.csv')

# Check Data Inconsistencies